In [ ]:
Hotel – тип отеля (City Hotel или Resort Hotel)  
Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
Arrival full date – полная дата прибытия
Arrival date year – год прибытия  
Arrival date month – месяц прибытия  
Arrival date week number – номер недели прибытия
Arrival date day of month – день прибытия
Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
Adults – число взрослых
Children – число детей
Babies – число младенцев 
Meal – выбранный тип питания
Country – страна происхождения клиента
Reserved room type – тип зарезервированного номера
Assigned room type – тип полученного номера (может отличаться от забронированного)
Customer type – тип бронирования
Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
Reservation status date – дата обновления статуса

In [67]:
import pandas as pd
from datetime import datetime

In [83]:
bookings = pd.read_csv ('bookings.csv', sep=';' )

In [84]:
bookings.shape

(119390, 21)

In [85]:
bookings.describe  ()

,Is Canceled,Lead Time,Arrival Date Year,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [86]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [87]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [286]:
bookings.head (7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [ ]:
#Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [70]:
'Arrival Date Month'.lower()

'arrival date month'

In [79]:
def to_lower_undescore (name):
    name = name.lower().replace(' ','_')
    return name

In [89]:
bookings = bookings.rename(columns = to_lower_undescore)

In [98]:
bookings.head (2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01

In [ ]:
#когда мы используем query, то value_counts автоматически сортирует по переменной, указанной в квери

In [349]:
bookings_not_canceled = bookings\
                        .query ('is_canceled==0') \
                        .country \
                        .value_counts () [:5]

bookings_not_canceled

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [ ]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5. Country Is Canceled (0)

In [327]:
bookings_not_canceled = bookings\
                        .query ('is_canceled==0') \
                        .groupby ('country') \
                        .agg ({'is_canceled':'count'}) \
                        .sort_values('is_canceled',ascending=False) [:5]
bookings_not_canceled.head(7)

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069

In [ ]:
# На сколько ночей в среднем бронируют отели разных типов? hotel stays_total_nights

In [177]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [277]:
bookings_night_mean = bookings \
                     .groupby('hotel') \
                     .agg ({'stays_total_nights':'mean'}) \
                     .round(1) #округление
bookings_night_mean

              stays_total_nights
hotel
City Hotel                   3.0
Resort Hotel                 4.3

In [ ]:
#Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
#Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [276]:
bookings_overb= bookings.query ('reserved_room_type != assigned_room_type').shape[0] #!= не равно
bookings_overb

14917

In [ ]:
#1 На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?

In [275]:
bookings_date_success_2016 = bookings \
                        .query ('arrival_date_year == 2016') \
                        .query ('is_canceled==0') \
                        .groupby ('arrival_date_month') \
                        .agg ({'is_canceled':'count'}) \
                        .sort_values('is_canceled',ascending=False) [:1]
bookings_date_success_2016

                    is_canceled
arrival_date_month
October                    3689

In [274]:
bookings_date_success_2016 = bookings \
                        .query ('arrival_date_year == 2016') \
                        .query ('is_canceled==0') \
                        .groupby ('arrival_date_month') \
                        .agg ({'is_canceled':'count'}) \
                        .idxmax()
bookings_date_success_2016

is_canceled    October
dtype: object

In [273]:
bookings_date_success_2017 = bookings \
                        .query ('arrival_date_year == 2017') \
                        .query ('is_canceled==0') \
                        .groupby ('arrival_date_month') \
                        .agg ({'is_canceled':'count'}) \
                        .idxmax()
bookings_date_success_2017

is_canceled    May
dtype: object

In [ ]:
#2 Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel 
# отменялись чаще всего в каждый из периодов

In [280]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [323]:
bookings_city_hotel = bookings \
                        .query ("hotel=='City Hotel' and is_canceled==1") \
                        .groupby (['arrival_date_year', 'arrival_date_month']) \
                        .agg ({'is_canceled':'count'}) \
                        .sort_values('is_canceled',ascending=False)
bookings_city_hotel

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        2217
2016              October                    1947
2017              April                      1926
                  June                       1808
2016              June                       1720
                  September                  1567
2015              September                  1543
2016              April                      1539
                  May                        1436
                  November                   1360
2017              July                       1324
2015              October                    1321
2017              March                      1278
2016              August                     1247
2015              August                     1232
2017              August                     1123
2016              March                      1108
                  December                   1072
2017              January                    1044
2016              July                       1043
2017              February                    971
2015              July                        939
2016              February                    930
2015              December                    668
2016              January                     438
2015              November                    301

In [350]:

bookings_city_hotel = ( bookings 
                        .query ("hotel=='City Hotel' and is_canceled==1") 
                        .groupby ('arrival_date_year') 
                        .arrival_date_month 
                        .value_counts () )
bookings_city_hotel

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [ ]:
#1 Создайте колонку total_kids, объединив children и babies. 
#2 Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [352]:
#1
bookings['total_kids'] = bookings['children']  + bookings['babies']

In [386]:
#2
bookings_kids = ( bookings
                .groupby('hotel')
                .agg({'total_kids':'mean'})
                .round (2) 
 )
bookings_kids

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [385]:
#1 Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка 
#(total_kids), в противном случае – False. 

#2 Посчитайте отношение количества ушедших пользователей к общему количеству клиентов,
#выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: total_kids, Length: 119390, dtype: bool

In [1]:
bookings['has_kids'] = bookings.total_kids > 0

NameError: name 'bookings' is not defined

In [402]:
no_kids_churn = bookings.query ('has_kids == False and is_canceled==1').shape[0] / bookings.query ('has_kids ==False').shape[0]
no_kids_churn= round(no_kids_churn*100, 2)
no_kids_churn

37.22

In [405]:
yes_kids_churn = bookings.query ('has_kids == True and is_canceled==1').shape[0] / bookings.query ('has_kids ==True').shape[0]
yes_kids_churn= round(yes_kids_churn*100, 2)
yes_kids_churn

34.92