In [ ]:
1) –ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö –≤ –ø–µ—Ä–∏–æ–¥ —Å 01.12.2010 –ø–æ 12.09.2011:
InvoiceNo ‚Äì –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏
StockCode ‚Äì –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞
Description ‚Äì –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞
Quantity ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑
InvoiceDate ‚Äì –¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ 
UnitPrice ‚Äì —Ü–µ–Ω–∞ –∑–∞ –µ–¥–∏–Ω–∏—Ü—É —Ç–æ–≤–∞—Ä–∞
CustomerID ‚Äì id –∫–ª–∏–µ–Ω—Ç–∞
Country ‚Äì —Å—Ç—Ä–∞–Ω–∞, –≥–¥–µ –ø—Ä–æ–∂–∏–≤–∞–µ—Ç –∫–ª–∏–µ–Ω—Ç
–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ data.csv.zip (–≤ –ø–∞–ø–∫–µ) —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π ISO-8859-1.
–ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ retail, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é retail_columns.

2) –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –Ω–∞–±–ª—é–¥–µ–Ω–∏—è, –∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ.
–ï—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å, —Ç–æ —É–¥–∞–ª–∏—Ç–µ –∏—Ö –∏–∑ retail.

In [62]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [93]:
retail = pd.read_csv("C:/Users/yana2/–†–∞–±–æ—á–∏–π —Å—Ç–æ–ª/data.csv.zip", compression='zip', encoding='ISO-8859-1')

In [64]:
r_s = retail.shape [0]
r_s

541909

In [94]:
retail.drop_duplicates(inplace=True)

In [75]:
r_s_d1 = r_s_d.shape[]

SyntaxError: invalid syntax (Temp/ipykernel_10024/1126189896.py, line 1)

In [77]:
r_s - r_s_d1

5268

In [84]:
r_s_d = retail

In [ ]:
3) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
–î–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤ —Å–µ–±–µ –∑–∞–ø–∏—Å–∏ –∫–∞–∫ –∏ –æ–± —É—Å–ø–µ—à–Ω—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö, —Ç–∞–∫ –∏ –æ–± –æ—Ç–º–µ–Ω–µ–Ω–Ω—ã—Ö. 
–ï—Å–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –æ—Ç–º–µ–Ω–∏–ª –∑–∞–∫–∞–∑, –≤ –Ω–∞—á–∞–ª–µ –Ω–æ–º–µ—Ä–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo) —Å—Ç–∞–≤–∏—Ç—Å—è C (canceled). 
–°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑–æ–≤ –æ—Ç–º–µ–Ω–∏–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏?

In [78]:
r_canceled = retail.InvoiceNo.str.startswith('C').sum()
r_canceled

9251

In [ ]:
4) –¢–µ–ø–µ—Ä—å –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ retail 
—Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–∫–∞–∑—ã, –≥–¥–µ Quantity > 0. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —á–∏—Å–ª–æ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —Å—Ç—Ä–æ–∫.

In [95]:
retail = retail.query('Quantity > 0')

In [96]:
retail.shape

(526054, 8)

In [81]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
5) üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (CustomerID) –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏ (Germany).
–û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å–æ–≤–µ—Ä—à–∏–ª –±–æ–ª–µ–µ N —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (InvoiceNo), –≥–¥–µ N ‚Äì 80% –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å.
–ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ germany_top (–Ω–µ –≤–µ—Å—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, —Ç–æ–ª—å–∫–æ id). 
–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞ ‚Äì InvoiceNo. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–∫–∞–∑–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–µ—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –±–æ–ª–µ–µ 1 —Å—Ç—Ä–æ–∫–∏.

In [129]:
germany_buyers = retail.query('Country=="Germany"') \
        .groupby('CustomerID',as_index=False) \
        .agg ({'InvoiceNo': 'nunique'}) \
        .rename(columns={'InvoiceNo':'orders'})

In [130]:
percent = germany_buyers.orders.quantile(q=0.80)

In [131]:
germany_top = germany_buyers.query('orders>@percent').sort_values('orders',ascending=False).index
germany_top
#–µ—Å–ª–∏ –≤ –≥—Ä—É–ø–±–∞–π —ç—Å–∏–Ω–¥–µ–∫—Å —Ä–∞–≤–Ω–æ —Ç—Ä—É

    CustomerID  orders
37     12569.0      32
3      12471.0      30
83     12720.0      25
52     12621.0      20
6      12474.0      18
79     12709.0      15
81     12712.0      13
64     12647.0      12
16     12500.0      11
8      12476.0      11
69     12662.0      11
12     12481.0      10
44     12600.0      10
78     12708.0      10
51     12619.0       9
56     12626.0       9
77     12705.0       9
26     12524.0       8

In [133]:
#–µ—Å–ª–∏ —ç—Å –∏–Ω–¥–µ–∫—Å —Ä–∞–≤–Ω–æ —Ñ–æ–ª—Å
germany_top = germany_buyers.query('orders>@percent').CustomerID
germany_top

3     12471.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
26    12524.0
37    12569.0
44    12600.0
51    12619.0
52    12621.0
56    12626.0
64    12647.0
69    12662.0
77    12705.0
78    12708.0
79    12709.0
81    12712.0
83    12720.0
Name: CustomerID, dtype: float64

In [ ]:
6) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
–ò—Å–ø–æ–ª—å–∑—É—è –æ–±—ä–µ–∫—Ç —Å id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (germay_top), –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, 
–æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏—è –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ –¥–∞–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–∏ —Ç–æ–ª—å–∫–æ –ø–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º –Ω–∞—Å —é–∑–µ—Ä–∞–º.
–†–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—à–∏—Ç–µ –≤ top_retail_germany.

In [135]:
top_retail_germany = retail.query('CustomerID in @germany_top')

In [ ]:
7) –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ top_retail_germany –ø–æ –∫–æ–¥—É —Ç–æ–≤–∞—Ä–∞ (StockCode).
–ö–∞–∫–æ–π –∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –¥–æ–±–∞–≤–ª—è–ª–∏ –≤ –∫–æ—Ä–∑–∏–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ, –∫—Ä–æ–º–µ POST? 
Note: –æ–¥–Ω–∏–º –∑–∞–∫–∞–∑–æ–º —Å—á–∏—Ç–∞–µ—Ç—Å—è –µ–¥–∏–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –ø–æ–∫—É–ø–∫–∞ –ª—é–±–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–∞, —Ç.–µ. –±–µ–∑ —É—á–µ—Ç–∞ Quantity.

In [146]:
top_retail_germany.query('StockCode!="POST"') \
                    .groupby(['StockCode', 'Description']) \
                    .agg({'InvoiceNo':'nunique'}) \
                    .sort_values('InvoiceNo',ascending=False)

                                               InvoiceNo
StockCode Description
22326     ROUND SNACK BOXES SET OF4 WOODLAND          52
22328     ROUND SNACK BOXES SET OF 4 FRUITS           38
22423     REGENCY CAKESTAND 3 TIER                    34
20719     WOODLAND CHARLOTTE BAG                      30
22961     JAM MAKING SET PRINTED                      28
...                                                  ...
22576     SWALLOW WOODEN CHRISTMAS DECORATION          1
22577     WOODEN HEART CHRISTMAS SCANDINAVIAN          1
22578     WOODEN STAR CHRISTMAS SCANDINAVIAN           1
22579     WOODEN TREE CHRISTMAS SCANDINAVIAN           1
22669     RED BABY BUNTING                             1

[1176 rows x 1 columns]

In [147]:
#or
top_retail_germany.StockCode.value_counts()

POST     213
22326     52
22328     38
22423     34
20719     30
        ...
21564      1
22584      1
22561      1
21497      1
23562      1
Name: StockCode, Length: 1158, dtype: int64

In [137]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
8) –í–µ—Ä–Ω–µ–º—Å—è –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ retail. 
–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É Revenue —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –∫–æ–ª–æ–Ω–∫–∏ Quantity –∏ UnitPrice.

In [172]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [171]:
retail['Revenue'] = retail['Quantity'] * retail['UnitPrice']

In [173]:
#–∞—Ö–∞—Ö–∞—Ö–∞—Ö–∞ —Å—É–∫–∞ —è —É–¥–∞–ª–∏–ª–∞ –Ω—É–∂–Ω—ã–π –∫–æ–¥ –æ–∫–∞–∑ –ø—Ä–∏–¥–µ—Ç—Å—è –ø–∏—Å–∞—Ç—å –∑–∞–Ω–æ–≤–æ.........

In [ ]:
9) –î–ª—è –∫–∞–∂–¥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo), –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–∞. 
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5 (InvoiceNo) –ø–æ —Å—É–º–º–µ –∑–∞–∫–∞–∑–∞ (—á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º –∏ –≤ –ø–æ—Ä—è–¥–∫–µ
                                                             —É–±—ã–≤–∞–Ω–∏—è TotalRevenue)

In [188]:
top_TotalRevenue = retail.groupby(['InvoiceNo','UnitPrice'],as_index=False) \
        .agg({'Quantity':'sum'})
top_TotalRevenue['TotalRevenue'] = top_TotalRevenue['Quantity'] * top_TotalRevenue['UnitPrice']

In [189]:
top_TotalRevenue= top_TotalRevenue.sort_values('TotalRevenue', ascending=False).head(5)

In [190]:
top_TotalRevenue.InvoiceNo.str.cat(sep=' ,')

'581483 ,541431 ,556444 ,572209 ,574941'